# Ignore les fichiers générés par Composer
/vendor/

# Ignore les fichiers et dossiers liés à Node.js
/node_modules/

# Ignore les fichiers et dossiers liés à l'environnement
.env
.env.*.backup

# Ignore les fichiers de cache et logs
/storage/*.key
/storage/*.log
/storage/*.csv
/storage/*.cache
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!storage/.gitignore
!bootstrap/cache/.gitignore

# Ignore le contenu du dossier public/assets
/public/assets/*
!/public/assets/.gitignore

# Ignore les fichiers de test et de débogage
.phpunit.result.cache

# Ignore les fichiers liés à l'IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Ignore les fichiers de configuration système
.DS_Store
Thumbs.db

# Ignore les fichiers de déploiement
Homestead.json
Homestead.yaml
.vagrant/
